<ion-view  view-title=" <img  src= 'img/logo.png' style='height: 85%; margin-top:2%;'>" align-title="center">

    <ion-nav-bar class="BlueBar" title = "GHOST" align-title="center">
            <ion-nav-buttons side="left">
                
                 <!-- <button  menu-toggle="left" class="MenuBtn"> <ion-icon class="ion-navicon-round" style= "font-size: 30px;"> </ion-icon></button> -->
                 <button class="MenuBtn" ng-click="vm.ChangeState('app.tab.home')"><ion-icon class="ion-ios-home" style= "font-size: 30px;"> </ion-icon></button>
            </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="ghost">
        <div class="ghost">
            <div class="container-90">
            <p style = "margin-top: 10%; color:white;"> Desenvolvido por: </p>
                <br>
                <img src="img/logo-gamelab.png" style = "width: 60%;">
                <br>
            <p style = "margin-top: 10%; color:white;">Em parceria com:</p>
                <img src="img/ghost.png" style = "width: 30%;">
                <img src="img/ghostname.png" style = "width: 60%;margin-bottom: 60px;">

            </div>
        </div>
    </ion-content>
    <div class="blueColor barDetail" style="position: fixed; bottom: 0px;height:20px;"></div>
</ion-view>