<ion-view  view-title="<img  src= 'img/logo.png' style='height: 85%; margin-top:2%;'>" align-title="center">

    <ion-nav-bar class="BlueBar" title = "Home" align-title="center">
            <ion-nav-buttons side="left">
                 <button  menu-toggle="left" class="buton-dark"> <ion-icon class="ion-navicon-round" style= "font-size: 30px;"> </ion-icon></button>
            </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content>
            <div class="container-90">
              <div class="container-90">
                <br>
                <div class="MyCards about animated bounceInLeft">
                    <p> A <strong>Semana da Computação</strong> com a parceria de Engenheiros de sucesso apresenta várias palestras e minicursos abordando novos conceitos, tendências de mercado e inovações tecnológicas. </p>
                    <hr>
                    <p>Participe das atividades e concorra a <strong>prêmios</strong></p>
                    <p>Mini cursos* </p>
                    <p>Palestras</p>
                    <p>Exposição do Vídeo Game</p>
                    <p>*Inscrições no <strong>DA Inatel</strong><p>
                    <hr>
                    <p> A cada <strong>atividade</strong> concorra a prêmios <strong>diferentes</strong></p>
               </div>
                 <img src="img/logo.png" style="width: 30%; margin-top: 10px;">
            </div>
            </div>
    </ion-content>
</ion-view>