<!--<ion-tabs class=" BlueBar">-->
<ion-tabs class=" tabs-icon-top tabs-striped tabs-background-myBlue tabs-color-light">

    <!--Home-->
    <ion-tab title="Home" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/app/tab/home">
        <ion-nav-view name="homeView"></ion-nav-view>
    </ion-tab>

    <!--Mini Cursos-->
    <ion-tab title="Mini Cursos" icon-off="ion-code-working" icon-on="ion-code-working" href="#/app/tab/minicursos">
        <ion-nav-view name="minicursosView"></ion-nav-view>
    </ion-tab>

    <!--Palestras-->
    <ion-tab title="Palestras" icon-off="ion-university" icon-on="ion-university
    " href="#/app/tab/palestras">
        <ion-nav-view name="palestrasView"></ion-nav-view>
    </ion-tab>
    
    <!--Atrações-->
    <ion-tab title="Atrações" icon-off="ion-ios-game-controller-b" icon-on="ion-ios-game-controller-b" href="#/app/tab/atracoes">
        <ion-nav-view name="atracoesView"></ion-nav-view>
    </ion-tab>
  
</ion-tabs>