<ion-view  view-title=" <img src='img/logo.png' style='height: 85%; margin-top:2%;'>" align-title="center">

    <ion-nav-bar class="BlueBar" title = "Secomp" align-title="center">
            <ion-nav-buttons side="left">
                 <button class="MenuBtn" ng-click="vm.ChangeState('app.tab.home')"><ion-icon class="ion-ios-home" style= "font-size: 30px;"> </ion-icon></button>
            </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
            <div class="container-90">
                <br>
                <div class="MyCards about animated bounceInLeft">
                    <p> A <strong>Semana da Computação</strong> com a parceria de Engenheiros de sucesso apresenta várias palestras e minicursos abordando novos conceitos, tendências de mercado e inovações tecnológicas.</p>
               </div>
                <img src="img/logo.png" style="width: 60%; margin-top: 100px;">
            </div>
    </ion-content>
    <div class="blueColor barDetail" style="position: fixed; bottom: 0px;height:20px;"></div>
</ion-view>